@import '../../../../styles/variables';

.route.blog {
    @include flex('', 1);
    flex-direction: column;
    width: 100%;

    .categories-list {
        @include flex('even', 1);

        width: 100%;
        padding: 8px 16px;
        background-color: $clr1;
    }
}