@import '../../../../styles/variables';

footer {
    @include flex('', 1);

    flex-direction: column;
    padding: 10px 15px;

    .socials-row {
        @include flex('even', 1);

        .social-badge {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}