@import 'mixins/flex';
@import 'mixins/media';

$clr1: #202824;
$clr2: #27302c;
$clr3: #2f3a35;
$clr4: #2c4637;
$clr5: #285238;
$clr6: #1e6e37;
$clr7: #138a36;
$clr8: #e55812;
$clr9: #07a0c3;
$clr10: #2de1fc;
$clr11: #09e85e;
$clr12: #214f4b;