.brand {
    &.discord {
        color: #ffffff;
        background-color: #5865f2;
    }

    &.reddit {
        color: #ff4500;
        background-color: #cee3f8;
    }

    &.twitch {
        color: #f0f0ff;
        background-color: #9146ff;
    }

    &.github {
        color: #f5f5f5;
        background-color: #4078c0;
    }
}