@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'variables';
@import 'brands';

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    @include flex;
    flex-direction: column;
}

html {
    color: white;
    font-family: monospace;
    height: 100%;
    background-color: $clr1;

    body {
        height: 100%;

        #root {
            height: 100%;

            main {
                @include flex('center');

                width: 100%;
                flex: auto;

                background-color: $clr3;

                .route {
                    @include flex;
                }
            }
        }
    }
}

a {
    color: $clr8;
    text-decoration: none;
}