@import '../../../../styles/variables';

.social-badge {
    @include flex('center', 1);

    background-color: $clr5;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid white;
    transition:
        background 0.2s ease-in-out,
        padding 0.2s ease-in-out;
    color: $clr11;

    &:hover {
        background-color: $clr7;
        padding: 6px;

        .icon {
            font-size: 28px;
        }
    }

    .icon {
        @include flex('center', 1);
        font-size: 24px;
        transition: font-size 0.2s ease-in-out
    }
}