@import '../../../../styles/variables';

.markdown-wrapper {
    padding: 20px;
    width: calc(100% - 40px);
    background-color: $clr1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0;
    }

    p {
        padding: 5px 0;

        &.highlighted {
            background-color: $clr11;
            color: $clr1;
            width: fit-content;
        }
    }

    img {
        max-width: 512px;
    }

    ul,
    ol {
        margin: 10px 0 10px 20px;
        
        ul,
        ol {
            margin-left: 20px;
        }
    }

    table {
        border-spacing: 0;
        border-collapse: 0;
        margin: 10px auto;

        thead {
            tr {
                background-color: $clr2;

                th {
                    padding: 8px 12px;
                    border-bottom: 2px solid grey;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(2n) {
                    background-color: $clr4;
                }

                &:nth-child(2n + 1) {
                    background-color: $clr12;
                }

                td {
                    padding: 4px 8px;
                    text-align: center;

                    &:not(:first-child) {
                        border-left: 1px solid grey;
                    }
                }
            }
        }
    }

    code.inline-code {
        background-color: $clr1;
        color: $clr10;
    }

    blockquote {
        background-color: $clr2;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
}