@import '../../../../styles/variables';

$tile_size: 200px;
$mobile_tile_size: 150px;

.tile {
    @include flex('center', 1);
    flex-direction: column;

    background-color: hsla(0, 100%, 100%, 0.1);
    padding: 20px;
    color: white;
    transition: background 0.2s ease-in-out;

    &:hover {
        background-color: hsla(0, 100%, 100%, 0.2);

        img {
            box-shadow: 4px 6px 8px $clr10;
        }
    }

    .img-placeholder,
    img {
        width: $tile_size;
        height: $tile_size;
    }

    .img-placeholder {
        position: absolute;
    }

    img {
        box-shadow: 2px 3px 4px $clr1;
        transition: box-shadow 0.2s ease-in-out;
    }

    .label {
        padding: 5px 8px;
        text-align: center;
        font-size: 18px;
    }

    .summary {
        background-color: hsla(0, 100%, 100%, 0.1);
        padding: 4px 8px;
        border-radius: 8px;
    }
}

@include device('mobile') {
    .tile {
        width: 100%;

        &:not(:first-child) {
            margin-left: 0;
            margin-top: 10px;
        }

        .img-placeholder,
        img {
            width: $mobile_tile_size;
            height: $mobile_tile_size;
        }

        .label {
            font-size: 12px;
        }

        .summary {
            font-size: 10px;
        }
    }
}

@include device('tablet') {
    .tile {
        flex: auto;
        margin: 5px;

        .img-placeholder,
        img {
            width: $mobile_tile_size;
            height: $mobile_tile_size;
        }
    }
}

@include device('desktop') {
    .tile {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}