@import '../../../../styles/variables';

.route.contact {
    @include flex('', 1);
    flex-direction: column;

    padding: 20px;

    .socials-group {

        &:not(:first-child) {
            margin-top: 20px;
        }

        .heading {
            text-align: center;
            margin-bottom: 10px;
        }

        .socials-section {
            .heading {
                text-transform: capitalize;
            }
            
            .socials-wrapper {
                .social-row {
                    @include flex('between', 1);
                    width: 100%;

                    &:not(:first-child) {
                        margin-top: 10px;
                    }

                    .heading {
                        text-align: left;
                        text-transform: capitalize;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}