@mixin flex($type : '', $center : 0) {
    display: flex;

    @if $center !=0 {
        align-items: center;
    }

    @if $type =='center' {
        justify-content: center;
    }

    @else if $type =='left' {
        justify-content: flex-start;
    }

    @else if $type =='right' {
        justify-content: flex-end;
    }

    @else if $type =='even' {
        justify-content: space-evenly;
    }

    @else if $type =='between' {
        justify-content: space-between;
    }
}