$mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1920px;

@mixin device($size : 'mobile') {
    @if $size =='mobile' {
        @media screen and (max-width: $mobile_width) {
            @content;
        }
    }

    @else if $size =='tablet' {
        @media screen and (min-width: $mobile_width) and (max-width: $tablet_width) {
            @content;
        }
    }

    @else if $size =='desktop' {
        @media screen and (min-width: $tablet_width) and (max-width: $desktop_width) {
            @content;
        }
    }
}