@import '../../../../styles/variables';

.route.home {
    padding: 20px;
    width: calc(100% - 40px);

    .tile-container {
        @include flex('', 1);
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
}